<header>
  <div class="nav">

    <div class="pageName">LOGO</div>
    <div class="storeName">The Book Store</div>
    <div class="loginSpan">
      <a class="button-85" href="/login">Login</a>
      <a class="button-85" href="/home">Logout</a>
    </div>
  </div>
</header>
