<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <script defer src="/scripts/slidingMenu.js"></script> -->
  <link rel="stylesheet" href="/styles/slidingMenu.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap');
  </style>

  <title>slidingMenu</title>
</head>

<body>
  <div id="slideMenu" class="slideMenu" onmouseleave="closeMenu()">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/api/favourites">Favourites</a></li>
      <li><a href="/api/addBook">Add book</a></li>
      <li><a href="/api/books">Find Books</a></li>
      <li><a href="/api/conversations">Conversations</a></li>
      <div class="gap"></div>
      <h1 class="filterTitle">Filter Products:</h1>
      <div class="categories">
        <li class="categoryFilter"> Select a Category:
          <hr>
          <hr>
        <li>
          <form method="POST" action="/api/books/genre/Humour">
            <button type="submit">Humour</button>
          </form>
        </li>
        <hr>
        <hr>
        <li>
          <form method="POST" action="/api/books/genre/Action & Adventure">
            <button type="submit">Action & Adventure</button>
          </form>
        </li>
        <hr>
        <hr>
        <li>
          <form method="POST" action="/api/books/genre/Historical Fiction">
            <button type="submit">Historical Fiction</button>
          </form>
        </li>
        <hr>
        <hr>
        <li>
          <form method="POST" action="/api/books/genre/Fantasy, Horror & Science Fiction">
            <button type="submit">Fantasy, Horror & Science Fiction</button>
          </form>
        </li>
        <hr>
        <hr>
      </div>
      <div class="price">
        <li class="priceFilter">Max Price:
          <hr>
          <hr>
        <li>
          <form method="POST" action="/api/books/price/16.99">
            <button type="submit">$16.99</button>
          </form>
        </li>
        <hr>
        <hr>
        <li>
          <form method="POST" action="/api/books/price/22.99">
            <button type="submit">$22.99</button>
          </form>
        </li>
        <hr>
        <hr>
        <li>
          <form method="POST" action="/api/books/price/28.99">
            <button type="submit">$28.99</button>
          </form>
        </li>
        <hr>
        <hr>
        <li>
          <form method="POST" action="/api/books/price/40.00">
            <button type="submit">$40.00</button>
          </form>
        </li>
        <hr>
      </div>
    </ul>
  </div>

  <img src="/assets/arrow.png" alt="Right-arrow" class="expandArrow" id="expandArrow" onmouseover="openMenu()" />


  <script>

    const openMenu = function () {
      document.getElementById("slideMenu").style.marginLeft = '0px';
      document.getElementById("expandArrow").style.marginLeft = "250px";
      console.log("triggered");
    };


    const closeMenu = function () {
      document.getElementById("slideMenu").style.marginLeft = '-250px';
      document.getElementById("expandArrow").style.marginLeft = "0px";
    };

  </script>
</body>

</html>
