<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <script defer src="/scripts/slidingMenu.js"></script> -->
  <link rel="stylesheet" href="/styles/slidingMenu.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap');
  </style>

  <title>slidingMenu</title>
</head>

<body>
  <div id="slideMenu" class="slideMenu" onmouseleave="closeMenu()">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/api/favourites">Favourites</a></li>
      <li><a href="/api/addBook">Add book</a></li>
      <li><a href="/api/books">Find Books</a></li>
      <li><a href="/api/conversations">Conversations</a></li>
      <div class="gap"></div>
      <h1 class="filterTitle">Filter Products:</h1>
    <div class="categories">
      <li class="categoryFilter"> Select Categories:
        <hr>
        <li><input type="checkbox" />  Humour</li>
        <hr>
        <li><input type="checkbox" />  Action & Adventure</li>
        <hr>
        <li><input type="checkbox" />  Historical Fiction</li>
        <hr>
        <li><input type="checkbox" />  Fantasy, Horror & Science Fiction</li>
      </li>
    </div>
    <div class="price">
      <li class="priceFilter">Price Range:
        <hr>
        <li><input type="checkbox" />  0.00$ - 24.00$</li>
        <hr>
        <li><input type="checkbox" />  24.01$ - 29.99$</li>
        <hr>
        <li><input type="checkbox" />  30.00$ - 34.99$</li>
        <hr>
        <li><input type="checkbox" />  35.00$ - 100.00$</li>
      </li>
    </div>

    </ul>
  </div>

  <!-- <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_right_48px-512.png" alt="Right-arrow" class="expandArrow" id="expandArrow" onmouseover="openMenu()"/> -->

   <img src="/assets/arrow.png" alt="Right-arrow" class="expandArrow" id="expandArrow" onmouseover="openMenu()"/>


  <script>

    const openMenu = function() {
      document.getElementById("slideMenu").style.marginLeft = '0px';
      document.getElementById("expandArrow").style.marginLeft = "250px";
    };


    const closeMenu = function() {
      document.getElementById("slideMenu").style.marginLeft = '-250px';
      document.getElementById("expandArrow").style.marginLeft = "0px";
    };

  </script>
</body>

</html>
