<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

      <header>
        <div class="pageName">HOME</div>
        <div class="storeName">STORE NAME</div>
        <hr>
        <div class="registerLoginSpan">
          <button class="register" type="submit">REGISTER</button>
          <button class="login" type="submit">LOGIN</button>
        </div>
      </header>

      <body>
        <div class="advertisement">

        <p> Back to school Sale! On Now</p>

        </div>

        <div class="bodyContain">
          <ul class="booklist">
            <li class="booklistItems">
              <a href="book1">
                <img src="http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg" alt="Classical Mythology">
               <p>Classical Mythology</p>
              </a>
            </li>
            <li class="booklistItems">
              <a href="book2">
                <img src="http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg"
                alt="Arts, Film and Photography">
                <p>Arts, Film and Photography</p>
              </a>
            </li>
            <li class="booklistItems">
              <a href="book5">
                <img src="http://images.amazon.com/images/P/0393045218.01.THUMBZZZ.jpg"
                alt="The Mummies of Urumchi">
                <p>The Mummies of Urumchi</p>
              </a>
            </li>
          </ul>
        </div>
      </body>
      <footer>
        <ul class="socialLinks">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </footer>

  </body>
</html>
