<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="siteWrap">
      <head>
        <div class="brandLogo">1</div>
        <ul class="leftNav">
          <li class="navBars"></li>
          <li class="navBars"></li>
          <li class="navBars"></li>
          <li class="navBars"></li>
          <li class="navBars"></li>
          <li class="navBars"></li>
        </ul>
      </head>
      <body>
        <div class="homeNavbar">2</div>
        <div class="bodyContain">
          <ul class="booklist">
            <li class="booklist-items">1</li>
            <li class="booklist-items">2</li>
            <li class="booklist-items">3</li>
            <li class="booklist-items">4</li>
            <li class="booklist-items">5</li>
            <li class="booklist-items">6</li>
            <li class="booklist-items">7</li>
            <li class="booklist-items">8</li>
            <li class="booklist-items">9</li>
            <li class="booklist-items">10</li>
            <li class="booklist-items">11</li>
            <li class="booklist-items">12</li>
            <li class="booklist-items">13</li>
            <li class="booklist-items">14</li>
            <li class="booklist-items">15</li>
            <li class="booklist-items">16</li>
            <li class="booklist-items">17</li>
            <li class="booklist-items">18</li>
            <li class="booklist-items">19</li>
            <li class="booklist-items">20</li>
          </ul>
          <div class="bottomNav"></div>
        </div>
      </body>
      <footer></footer>
    </div>
  </body>
</html>
