/* styles for findBooks */

html {

}

body {
  background-image: url("https://wallpaperaccess.com/full/340434.png");
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
}

.storeName{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  border-bottom: 10px black;
  padding-bottom: 15px;
}

.pageName{
  height: 100px;
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: 500;
  padding-left: 2em;
  }

.homeNavbar {
  height: 120px;
}

.loginSpan{
  display:flex;
  justify-content: end;
  gap: 15px;
  height: 30px;
  border-bottom: 4px solid black;
  padding-bottom: 5px;
  padding-right: 10px;
}

.booklist{
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
  }

  .booklistItems{
    display: flex;
    border: 2px solid black;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: linear-gradient(#e66465, #9198e5);
    img{
      display: block;
      margin: 0 auto;
    }
  }

.socialLinks{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: x-large;
  padding-right: 30px;
  padding-top: 400px;
  padding-bottom: 200px;
  gap: 30px;
  list-style: none;
  position: relative;
}

.socialLinks a{
  height: 40px;
  width: 40px;
}

/* hover states for social icons */

.fa-facebook:hover{
  color: white;
}

.fa-twitter:hover{
  color: white;
}

.fa-instagram:hover{
  color: white;
}

.fa-youtube:hover{
  color:white;
}

.fa-snapchat-ghost:hover{
  color:white;
}

.button-85 {
  padding: 0.2em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
