/* sliding menu styles*/

*{
  font-family: "Titillium Web", sans-serif;
}

.slideMenu{
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(#9d8dcd, #e4a0d6);
  margin-left: -250px;
  transition: 0.5s;
  z-index: 1;
}

.slideMenu ul{
  list-style: none;
  padding: 0;
  margin-top: 45px;
  margin-left: 45px;
}

.slideMenu a{
  text-decoration: none;
  margin-bottom: 30px;
  font-size: 1.8rem;
  color:white;
  display: block;
  transition: color 0.1s;
}

.slideMenu a:hover{
  color: navy;
}

#expandArrow{
  width:50px;
  transition: 0.5s;
  position: fixed;
  bottom: 50%;
}

.categories{
  display: flex;
  font-family: Tahoma;
  height: 200px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  line-height: 28pt;
}

.price{
  display: flex;
  height: 200px;
  font-family: Tahoma;
  flex-direction: column;
  width:100%;
  justify-content: center;
  align-items: baseline;
  line-height: 28pt;
}

.gap{
  height: 30px;
}
